## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Altos,BR,88.11,broken clouds,-5.0381,-42.4600,Pousada Das Aguias
1,4,Biak,ID,74.82,overcast clouds,-0.9131,122.8766,Penginapan Kim
2,5,The Valley,AI,87.66,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
3,7,Rikitea,PF,73.26,clear sky,-23.1203,-134.9692,People ThankYou
4,10,Anloga,GH,73.74,light rain,5.7947,0.8973,Pin Drop Hotel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mayo"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mayo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Atlantic City"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Morris"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "York"]

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
306,642,York,US,81.79,broken clouds,40.1254,-77.0,Rodeway Inn

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = pd.DataFrame({vacation_df[3], vacation_df[4]}).to_numpy()
start = [tuple(r) for r in vacation_start[['Lat', 'Lng']].to_numpy()]
end = [tuple(r) for r in vacation_end[['Lat', 'Lng']].to_numpy()]
stop1 = [tuple(r) for r in vacation_stop1[['Lat', 'Lng']].to_numpy()]
stop2 = [tuple(r) for r in vacation_stop2[['Lat', 'Lng']].to_numpy()]
stop3 = [tuple(r) for r in vacation_stop3[['Lat', 'Lng']].to_numpy()]
stop3

[(40.1254, -77.0)]

In [73]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs
geneva = (46.2, 6.1)
#montreux = (46.4, 6.9)
zurich = (47.4, 8.5)

fig = gmaps.figure()
geneva2zurich = gmaps.directions_layer(start[0], end[0], waypoints = [stop1[0], stop2[0], stop3[0]], travel_mode='BICYCLING')
fig.add_layer(geneva2zurich)
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,313,Mayo,US,81.07,clear sky,38.8876,-76.5119,Resorts Resource Group International
1,491,Atlantic City,US,81.01,broken clouds,39.3643,-74.4229,Courtyard by Marriott Atlantic City Beach Block
2,212,Morris,US,82.38,broken clouds,40.8334,-74.5329,Parsippany Inn and Suites Morris Plains
3,642,York,US,81.79,broken clouds,40.1254,-77.0000,Rodeway Inn

In [80]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [81]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))